body {
    margin: 0;
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    background-color: #00000080;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* Typography */

.nameHeading {
    font-size: 4rem;
}

.descriptionPara {
    color: #ffffff90;
    font-size: 2rem;
    margin: 10px 0;
}

/* Containers */

.profileText {
    position: absolute;
    left: 5%;
    bottom: 5%;
    color: white;
}

.appContainer {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: white;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    margin: 0 0 1em 0;
}

.profileContainer {
    margin: 0 auto;
    width: 95%;
    position: relative;
}

.swipeContainer {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons/Links */

.swipeButton {
    border: none;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1em;
    margin: 1em 2em;
    box-shadow: 0px 10px 20px #97979a;
}

/* Images */

.icon {
    width: 50px;
}

.logo {
    width: 150px;
}

.profileImage {
    width: 100%;
    border-radius: 25px;
}

.swipeButtonIcon {
    width: 75px;
    padding: 25px;
}

.heart:hover {
    background-color: #a7f8e0;
    cursor: pointer;
}

.cross:hover {
    background-color: #f3b1c7;
    cursor: pointer;
}

#badge {
    animation: fadeIn 0.5s;
    transform: rotate(-30deg);
    width: 50%;
    position: absolute;
    left: 5%;
    top: 10%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (device-width > 400px) {
    .appContainer {
        max-width: 400px;
        background-color: white;
        border-radius: 25px;
    }
    .icon {
        width: 7.5%;
    }
    .logo {
        width: 20%;
    }
    .swipeButtonIcon {
        width: 35px;
        padding: 0;
    }
    .nameHeading {
        font-size: 2rem;
    }
    .descriptionPara {
        font-size: 1rem;
    }
    .headerContainer {
        margin: 0.5rem 0;
    }
    .swipeButton {
        margin: 0 25px;
    }
}
